= render "module/header"

%main.container
  .jumbotron
    %h1
      フォトギャラリー
    %p
      可愛い猫たちのフォトギャラリーをご覧ください
  .row
    .col-lg-4.mb-3.col-sm-6
      .img-thumbnail
        = link_to('#') do
          = image_tag "biwako.jpeg", size: "width 100%", alt: "test"
          aaaaaa
    .col-lg-4.mb-3.col-sm-6
      .img-thumbnail
        = image_tag "biwako.jpeg", size: "width 100%", alt: "test"
    .col-lg-4.mb-3.col-sm-6
      .img-thumbnail
        = image_tag "biwako.jpeg", size: "width 100%", alt: "test"
    .col-lg-4.mb-3.col-sm-6
      .img-thumbnail
        = image_tag "biwako.jpeg", size: "width 100%", alt: "test"
    .col-lg-4.mb-3.col-sm-6
      .img-thumbnail
        = image_tag "biwako.jpeg", size: "width 100%", alt: "test"
    .col-lg-4.mb-3.col-sm-6
      .img-thumbnail
        = image_tag "biwako.jpeg", size: "width 100%", alt: "test"
    .col-lg-4.mb-3.col-sm-6
      .img-thumbnail
        = image_tag "biwako.jpeg", size: "width 100%", alt: "test"
    .col-lg-4.mb-3.col-sm-6
      .img-thumbnail
        = image_tag "biwako.jpeg", size: "width 100%", alt: "test"
    .col-lg-4.mb-3.col-sm-6
      .img-thumbnail
        = image_tag "biwako.jpeg", size: "width 100%", alt: "test"